{% extends 'quiz/home.html'%}
{% load static %}

{% block innercontent %}

<div class="container">
  <br/>
  <form role="form" method="post" >
<div class="row">
  <div class="col-md-3">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
    </div>

      {% csrf_token %}
    <br/>
  </div>
  <div class="col-md-9">
         <h1> {{ quiz.quiz_name }}</h1>
     <br/>    
    {% for  question in quiz_content %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">{{ question.mQuestion.quistion_text }}</label>
      {% for  option in question.options %}
      <div class="form-check">
        <input class="form-check-input" type="radio" value="{{option.option_text}}" name="{{question.mQuestion.id}}" />
           <label class="form-check-label" for="option_text">{{option.option_text}}</label>
      </div>
       {% endfor %}
    </div>
    <br/>
     {% endfor %}
         <!--data field-->
         <input type="submit" title="Save Question" class="btn btn-primary col-md-12" />
  </div>
</div>
</form>
</div>
<script>
//  var data =[]
// var addoption = document.getElementById("addoption");
// var optiontext = document.getElementById("option_text");
// var options_check_list = document.getElementById("options_check_list");
// var options = document.getElementById("options");

// addoption.onclick  = function(e){
//   e.preventDefault()
//   if(!optiontext.value){
//     alert("option text required")
//     return
//   }
//   data.push(optiontext.value)
//   optiontext.value = ""
//   bindOptions()
//   options.value = JSON.stringify(data)
// };


// var bindOptions= function(){

//   var option_html_start =  `<div class="form-check">
//                       <input class="form-check-input" type="radio" name="option_text" >
//                       <label class="form-check-label" for="option_text">`

//   var option_html_end =  ` </label></div>`

//   options_check_list.innerHTML = ""
//   data.forEach((item)=>{
//     options_check_list.innerHTML+=option_html_start+item+option_html_end
//   })

// }

// </script>
{% endblock innercontent %}