*{
    font-size: medium;
    font-family: "Nunito", sans-serif;
}


.card-title{
    font-size: 28px;
}
.card-text{
    font-size: 18px;
    margin-top: 20px;
}

.welcome_text {
    text-align: center;
    color: #000000;
}


.btn-style{
    padding: 12px 40px;
    background-color: #feb543;
    color: #f9fcfb;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
}

.btn-home {
    margin-left: 10%;
}

a:link { 
    text-decoration: none; 
}

a:visited {
    text-decoration: none;
}

.btn-home-link:hover { 
    text-decoration: none;
    color: #f9fcfb;
}

.btn-home-link:active {
    text-decoration: none;
    color: #f9fcfb;
}

.img_home {
    margin-left: 200px;
    margin-top: 80px;
}

.card_body{
    border: double #dddcdc;
    height: 200px;
    width: 420px;
    margin-top: 200px;
    border-radius: 25px;
}

.card_text {
    text-align: center;
    font-size: 1.4rem;
}

.form_log{
    height: 38px;
    background: #fffffff2;
    color: #000000;
    font-size: 17px;
    font-weight: 300;
    border-radius: 25px;  
    border-color: #dadee3;
    width: 260px;
}

.form-control {
    height: 38px;
    background: #fffffff2;
    color: #000000;
    font-size: 17px;
    font-weight: 300;
    border-radius: 25px;  
    border-color: #dadee3;
    width: 300px;
}

.pswd_log{
    height: 38px;
    background: #fffffff2;
    color: #000000;
    font-size: 17px;
    font-weight: 300;
    border-radius: 25px;  
    border-color: #dadee3;
    width: 250px;
}

.btn_log {
    width: 300px;
    height: 39px;
    padding: 9px 40px;
    background-color: #feb543;
    color: #f9fcfb;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
}

.btn_reset {
    width: 300px;
    height: 39px;
    padding: 9px 40px;
    background-color: #feb543;
    color: #f9fcfb;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
    margin-top: 10px;
}

.signup_link {
    color: #000;   
}

.card {
    border-radius: 25px;
}